{% section title %}Your account has been unblocked{% endsection %}

{% section styles %}

{% endsection %}

<tr>
    <td align="center" valign="top" width="100%" style="background-color: #f7f7f7;" class="content-padding">
        <center>
            <table cellspacing="0" cellpadding="0" width="600" class="w320">
                <tr>
                    <td class="header-lg">
                        Your account has been unblocked!
                    </td>
                </tr>
                <tr>
                    <td class="free-text">
                        <span>Your account has been unblocked! You can use it again.</span>
                    </td>
                </tr>
            </table>
        </center>
    </td>
</tr>