<td align="center" valign="top" width="100%" style="background-color: #f7f7f7; height: 100px;">
    <center>
        <table cellspacing="0" cellpadding="0" width="600" class="w320">
            <tr>
                <td style="padding: 25px 0 25px">
                    &copy <strong>Elwark</strong> {{ "now" | date: "%Y" }} <br/>
                </td>
            </tr>
        </table>
    </center>
</td>